<div class="input-group" ng-show="record">
  <span class="input-group-addon" id="sizing-addon2">{{something}}</span>
  <input type="text" class="form-control" ng-model="textAreaModel">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default">Save</button>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
</div>
